/* RESULTS LIST */
.list-container {
  width: 95%;
  margin: auto;
}
.list-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* LIST ITEMS */
.list-item {
  border-radius: 10px;
  font-family: 'Jedi Solid';
  display: flex;
  -webkit-user-select: none;
  user-select: none;
  flex-basis: 17%;
  background-color: #fbc100;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 6px 12px 0px black;
  padding: 4vh 1vw;
  margin-bottom: 3vw;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s;
}
.list-item:hover {
  transform: scale(1.1, 1.1);
  background-color: #b6441b;
}
