header {
  display: flex;
  width: 95%;
  max-height: 120px;
  margin: 4vh auto;
  align-items: stretch;
  color: #fbc100;
}

/* LOGO */
.header-logo {
  max-height: inherit;
}

/* DESCRIPTION */
.header-info {
  padding: 0 2vw;
  flex-basis: 69%;
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: space-between;
}
.header-info p {
  margin-bottom: 0;
  letter-spacing: 0.1em;
}

/* SEARCH */
.search-container input {
  width: 100%;
  background: none;
  border-radius: 6px;
  color: white;
  padding-left: 10px;
  line-height: 2em;
}

/* NAVIGATION */
.nav-container {
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  display: flex;
}
.nav-container a {
  color: #fbc100;
  max-width: 14%;
  transition: all 0.5s;
}

.icon-container {
  background-color: #fbc100;
  border-radius: 12px;
  padding: 16%;
  margin-bottom: 1vh;
  transition: all 0.5s;
}
.icon-container img {
  max-width: 100%;
}

.nav-container .active {
  transform: scale(1.2);
}

.active.pe {
  color: #B62321;
}
.active.pe .icon-container {
  background-color: #B62321;
}

.active.sp {
  color: #CC1B69;
}
.active.sp .icon-container {
  background-color: #CC1B69;
}

.active.pl {
  color: #CC371B;
}
.active.pl .icon-container {
  background-color: #CC371B;
}

.active.st {
  color: #867DDE;
}
.active.st .icon-container {
  background-color: #867DDE;
}

.active.ve {
  color: #9B19C2;
}
.active.ve .icon-container {
  background-color: #9B19C2;
}

.active.fi {
  color: #C24D19;
}
.active.fi .icon-container {
  background-color: #C24D19;
}
