body {
  margin: 0;
  background-color: lightGray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: darkgray;
    padding: 2px;
    text-align: center;
    font-size: 28px;
}
.list-results {
  width: 70%;
  display: inline-block;
}
.search {
  float: right;
}
