/* CUSTOM FONTS */
@font-face {
  font-family: 'Jedi Solid';
  src: url('./assets/fonts/Starjedi.ttf') format('truetype');
}
@font-face {
  font-family: 'Anakin';
  font-weight: 400;
  src: url('./assets/fonts/anakinmono.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald-variable';
  src: url('./assets/fonts/Oswald-variable.ttf') format('truetype');
}

/* TEMPLATE STYLES */
body {
  margin: 0;
  font-family: 'Oswald-variable', "Helvetica Neue", sans-serif;
  background-color: #2b2b2b;
  overflow-y: overlay;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


main {
  padding-top: 2vh;
}

/* MOBILE VIEW */
@media (max-width: 500px) {
  .character {
    flex-basis: 44%;
    padding: 2vw;
    margin-bottom: 2vw;
    height: 9vh;
  }
  header h3 {
    font-size: 7vw;
  }
  .search input {
    width: 100%;
    margin-bottom: 2vw;
    box-sizing: border-box;
  }
  .modal {
    width: 91%;
  }
  .back-btn {
    margin-bottom: 2vh;
    padding: 2.5vh;
  }
}
